
// Custom Theming for NG-ZORRO
// For more information: https://ng.ant.design/docs/customize-theme/en
@import "../node_modules/ng-zorro-antd/ng-zorro-antd.less";

// Override less variables to here
// View all variables: https://github.com/NG-ZORRO/ng-zorro-antd/blob/master/components/style/themes/default.less

// @primary-color: #1890ff;
/* You can add global styles to this file, and also import other style files */
// -------- 引入官方提供的 less 样式入口文件 -----------
@import "../node_modules/ng-zorro-antd/ng-zorro-antd.less";

// -------- 自定义参数覆盖 -----------
//@primary-color: #119e8f;

app-root {
  width: 100%;
  height: 100%;
}

app-login {
  width: 100%;
  height: 100%;
}

//body {
//  background: url("assets/images/background.svg");
//}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
